html {
    scroll-behavior: smooth;
}

.nav-wrapper {
    padding: 0 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/images/chess_hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row {
    margin-bottom: 0;
}

.hero-title {
    margin: 0;
    font-size: 5rem;
}

.hero-subtitle {
    width: 80%;
    text-align: center;
    font-size: 1.7rem;
}

p {
    font-size: 1.2rem;
}

#where-to-find-us {
    padding-bottom: 2rem;
}

.wrapper {
    padding: 1rem;
}

.section-subtitle {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.carousel-item {
    margin-top: -4rem;
}

.carousel .carousel-item {
    max-height: 300px;
    max-width: 400px;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

#join-the-conversation {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/assets/images/chess_background.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;
}

#join-the-conversation .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}

#join-the-conversation .wrapper a {
    width: 100px;
    align-self: center;
}

#FAQ {
    padding-bottom: 2rem;
}

footer {
    padding: 2rem;
}

.carousel .carousel-item {
    width: 100%;
    height: 100%;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.collapsible-header {
    align-items: center;
}

.caret {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    transition: transform 300ms;
}

.caret.open {
    transform: rotate(90deg);
    transform-origin: center center;
}

@media screen and (max-width: 500px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        text-align: center;
        padding: 0 2rem;
        font-size: 1.3rem;
        width: 100%;
    }

    h2 {
        font-size: 2.5rem;
    }

    .carousel .carousel-item {
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 400px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }
}